@model IEnumerable<school_hub.Models.Book>

@{
    ViewData["Title"] = "كتب المنصة";

}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">اضافة كتاب جديد</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LibrarySection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookPath)
            </th>
        @*     <th>
                @Html.DisplayNameFor(model => model.LibrarySection)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LibrarySection.Name)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    <img src="@Html.DisplayFor(modelItem => item.BookPath)" class="tumbnail" style="width:120px; height:100px" />
            </td>
          @*   <td>
                @Html.DisplayFor(modelItem => item.LibrarySection.SectionId)
            </td> *@
            <td>
                
                    <a class="btn-info" asp-action="Edit" asp-route-id="@item.BookId" style="text-decoration:none">Edit </a> 
                    <a asp-action="Details" asp-route-id="@item.BookId" class="btn-dark" style="text-decoration:none">Details </a>  
                    <a asp-action="Delete" asp-route-id="@item.BookId" class="btn-danger" style="text-decoration:none">Delete</a> 
            </td> 
        </tr>
}
    </tbody>
</table>
