@model User

@{
    ViewData["Title"] = "تفاصيل المستخدم";
}

<h2>تفاصيل المستخدم</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">معرّف المستخدم</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">اسم المستخدم</dt>
        <dd class="col-sm-10">@Model.UserName</dd>

        <dt class="col-sm-2">البريد الإلكتروني</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <dt class="col-sm-2">رقم الهاتف</dt>
        <dd class="col-sm-10">@Model.PhoneNumber</dd>

        <dt class="col-sm-2">نوع المستخدم</dt>
        <dd class="col-sm-10">@Model.UserType.GetDisplayName()</dd>

        <dt class="col-sm-2">مفعل؟</dt>
        <dd class="col-sm-10">@(Model.IsActive ? "نعم" : "لا")</dd>

        <dt class="col-sm-2">صورة الملف الشخصي</dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.ProfilePicturePath))
            {
                <img src="~/@Model.ProfilePicturePath" alt="Profile Picture" style="max-height:150px;" asp-append-version="true" />
            }
            else
            {
                <span>لا توجد صورة</span>
            }
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">تعديل</a>
    <a asp-action="Index" class="btn btn-secondary">رجوع</a>
</div>
